<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">      
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait"src="/img/home.jpg">
            {{!-- <h1>{{title}}</h1> --}}
            {{!-- <h1> About</h1> --}}
        </div>
        
        {{>footer}}
    </body>
</html>